.container{
                   width: 100%;
                   padding:5px;
                   margin:10px auto;
                   display:flex;
                   flex-direction: row;
                   justify-content: center;
}

.box{
         width: 250px;
         margin:0 10px;
         box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
         transition:1s;
}

.box img{
                display: square;
                width:100%;
                height:150%;
                border-radius: 5px;
}

.box:hover{
                    transform:scale(1.3);
                    z-index:2;
}

body{
         background: url("../img/bg3.jpg"); 
         min-height: 100vh;
         background-size: cover;
         background-position: center;
         animation: animateBg 5s linear infinite;
}

@keyframes animateBg{
  100%{
    filter: hue-rotate(360deg);
  }
}

.container2{
                   width:38%;
                   padding:5px;
                   margin:10px auto;
                   display:flex;
                   flex-direction: row;
                   justify-content: center;
}

.box2{
         width: 200px;
         margin:0 10px;
         box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
         transition:1s;
}

.box2 img{
                display: square;
                width:100%;
                height:100%;
                border-radius: 5px;
}

.box2:hover{
                    transform:scale(1.3);
                    z-index:2;
}

.test{
font-size: 30px;
color: #c7c7c7;
font-weight: 600;
letter-spacing: 2px;
}
